<style>
    .ui-state-default.hide { display:none; }
    .poilist  { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    float: left; 
    margin-right: 5px; 
    background: #eee; 
    padding: 5px; 
    width: 143px;}
    
    #relatedlist{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    float: left; 
    margin-right: 10px; 
    background: #eee; 
    padding: 5px; 
    width: 96%;}
    .ui-state-default.hide { display:none; }
    #relatedlist ul li, #poilist ul li  { 
    margin: 5px; 
    padding: 5px; 
    font-size: 1.2em; 
    width: 120px; }
.tooltip {
    display:none;
    height:163px;
    padding:40px 30px 10px 30px;
    width:310px;
    font-size:11px;
    overflow: auto;
    color:#fff;}
.poilist li a { float: right; }
.poilist li a.ui-icon-zoomin { float: left; }
.poilist li a.ui-icon-arrowreturnthick-1-n { float: right; }
.poilist li a.ui-icon-arrowreturnthick-1-s { float: right; }

</style>
