@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; }
ol, ul { list-style: none; margin:0px; padding:0px; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
a { color:#0074c5; text-decoration:none; }
a:hover { /*color:#314959;
	color:#111;*/
	text-decoration:underline; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.clr { clear:both; display:block; float:none !important; }
html>body .clr {*height:1px;}
* html .clr {height:1px;}
menu.navigation li.lastChild { background:none !important; }
.list-02 li.lastChild { background:none !important; }
.sub-list-01 li.lastChild, .tab-list li.lastChild { border:0px; }
#ul_random_list.product_list.third-child { border:0px; }
.blk { display:block; }
.to-left { float:left; }
.to-right { float:right; }
.padd-18{
	padding-top:5px;
}
.to-padd-01 { padding:0px 20px 0px 20px; }
/*.to-padd-02{
	padding:25px 0px 20px 0px;
}*/
.to-padd-03 { padding:22px 0px 18px 0px; }
/*.to-padd-06{
	padding:22px 0px 4px 0px;
}*/
.padd-13 { padding:0 20px 40px 20px;}
.padd-19 { padding-left:19px; }
.padd-20 { padding:0px 0px 20px 0px; }
.padd-21 { padding:0px 0px 30px 0px; }
.pad-16 { padding-bottom:16px; }
.pad-17 { padding-bottom:4px; }
.pad-18 { padding:30px 0 20px 0 !important; }
.pad-14{ padding:18px 0 18px 0 !important}
.pad-13{ padding:18px 0 24px 0 !important}
.pad-22{ padding:10px 0 15px 0 !important}
.pad-09{padding:10px 0 5px 20px;}
.to-padd-11 { padding:12px 0px 0px 30px !important; }
.to-padd-04 { padding:0px 20px 11px 20px; }
.to-padd-05 { padding:18px 20px 11px 20px; }
.to-padd-07 { padding:0px 20px 11px 20px; }
.to-padd-08 { padding:0px 18px 0px 21px; }
.to-padd-09{ padding:15px 0 0 108px;}
.pad-08{padding:15px 0 15px 0; display:block; float:left;}
.pad-07{padding:0 0 15px 0; display:block; float:left;}
.pad-8 { padding-bottom:8px; }
.pad-9{ padding:0 0 0 116px !important; }
.margin-01{ margin-top:3px;}
.margin-12 { margin-bottom:15px; }
.margin-13 { margin-bottom:4px; }
.margin-14 { margin-right:5px; }
.margin-15 { margin-right:15px; }
.margin-16 { margin-right:25px; }
.margin-3 { margin-right:3px; }
.margin-4 { margin-right:8px !important; }
.margin-6 { margin-bottom:25px; }
.margin-7 { margin:5px 0 0 20px }
.margin-8 { margin-top:15px; }
.margin-9 { margin-top:10px; }
.margin-11 { margin-top:24px; }
.margin-10 { margin:10px 0 10px 0 !important; }
.frm-width-01 { width:110px; }
.frm-width-02 { width:324px !important; }
.frm-width-03 { width:172px; }
.width-01{ width:330px;}
.width-05 { width:260px !important; }
.width-06 { width:470px; }
.width-07 { width:110px; }
.width-08 { width:158px !important; }
.width-10 { width:80px !important; }
.width-5 { width:90px !important; }
.width-38 { width:60px !important; }
.width-31 { width:50px !important; }
.width-35 { width:70px !important; }
.width-36 { width:60px !important; }
.width-02 { width:388px; }
.width-09 { width:558px !important; }
.width-11 { width:568px !important; }
.width-12 { width:125px; }
.width-13 { width:140px; }
.width-14 { width:172px !important; }
.width-15 { width:255px !important; }
.width-17 { width:396px; }
.width-16 { width:112px !important; }
.width-18 { width:432px !important; }
.width-19 { width:208px !important; }
.width-003 { width:214px !important; }
.width-04{ width:335px !important;}
.width-03{ width:318px !important; }
.width-20 { width:352px; }
.width-21 { width:278px !important; }
.width-22 { width:280px !important; }
.width-23 { width:202px !important; }
.width-24 { width:534px !important; }
.width-25 { width:537px !important; }
.width-26 { width:545px !important; }
.width-27 { width:178px !important; }
.width-28 { width:612px !important; }
.width-32 { width:460px !important; }
.width-37 { width:405px !important; }
.height-01 { height:140px; }
.height-02 { height:56px; }
.height-04 { height:108px; }
.pos-01 { right:48px; }
.marg-set-01 { margin-left:24px; }
.brd-07 { border:1px solid #d6d7d9 !important;}
.brd-04 { border:1px solid !important; border-left-color:#d6d6d6 !important; border-top-color:#d6d6d6 !important; border-right-color:#afafaf !important; border-bottom-color:#afafaf !important; }
.widthset-01 { float:left; width:430px; }
.no-brd { border:none !important; }
.height-03 { height:362px !important; }
.pos-02 { right:0 !important; }
h4 { font:bold 15px/20px Arial, Helvetica, sans-serif; }
h3 { font:bold 25px Arial, Helvetica, sans-serif; color:#000; }
.t-padd20 { padding-top:20px !important; }
.L-padd-01 { padding-left:118px; }
.paddRem { padding:0 !important; }
.padd-1 { padding-bottom:10px; }
.padd-1 { padding-bottom:10px; }
.padd-3 { padding-bottom:6px; }
.padd-4 { padding-bottom:0px !important; }
.padd-5 { padding-bottom:15px !important; }
.padd-6 { padding:0 0 6px 0!important; }
.padd-7 { padding-top:15px !important; }
.padd-8 { padding-top:26px !important; padding-right:5px !important }
.padd-9 { padding-top:5px !important; }
.padd-10 { padding-bottom:25px !important; }
.padd-11{ padding-top:10px !important; }
.padd-33{ padding:2px 0 20px 120px !important; }
.padd-34{ padding:15px 0 10px 120px !important; }
.padd-35{ padding:25px 0 0px 0px !important; }
.padd-36{ padding:15px 0 0px 0px !important; }
.paddSeter-1 { padding:16px 0 0 0 !important; }
.paddSeter-2 { border-top:1px dotted #B9B9B9; margin-top:20px; }
.paddSeter-3 { padding: 22px 0 15px; }
.brd-05 { border-bottom:1px dotted #B9B9B9 !important; }
.brd-06 { border-top:1px dotted #B9B9B9 !important; }
.fieldsetter { border-bottom:1px dotted #B9B9B9 !important; padding-bottom:6px !important; }
.flt-lft { float:left; }
.flt-rgt { float:right; }
.page-width-set{width:100% !important;}
.paddSeter-4 { padding: 0 20px !important; }
.paddSeter-5 { padding-right: 8px !important; }
.to-padd-10{ padding: 15px 0 0 82px;}
.bor-01{
	border-bottom:1px solid #d6d6d6;
}
.bor-02{
	border-bottom:1px solid #d6d6d6;
	box-shadow: 0 3px 2px -2px #E1E1E1;
   -o-box-shadow: 0 3px 2px -2px #E1E1E1;
   -webkit-box-shadow: 0 3px 2px -2px #E1E1E1;
   -moz-box-shadow: 0 3px 2px -2px #E1E1E1;
}
.bg-rem{
	background:none !important;
}
textarea {
    resize: none;
}
input{
	padding:0px;
	margin:0px;
}
textarea { overflow: auto; }
.reltv{
	position:relative;
}